$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-bacground:  #F6F6F6;
$color-light-s: #FAFAFA;
$color-light-xl: #FFFFFF;
$color-dark-h:#545454;
$color-dark-text: #4C4C4C;
$color-dark-xl:#292929;
$color-light-l:#CDCDCD;
$color-dark-m:#B2B2B2;
$color-radial-header-gradient:radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;;
$color-radial-footer-gradient:radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

$content-width:1200px;
$table-width:768px;
$mobile-big-width:414px;
$mobile-small-width:320px;
