.ico{
    cursor: pointer;
    display: inline-block;
}

.ico_credit{
    background-image: url("../assets/icons/credit-card (2).svg");
    width: 30px; 
    height: 23px;
    margin-right:3% ;
    align-items: center;
 
}

.ico__help{
    margin-left: 30px;
}

.tool-icon{
    display: block;
    width: 60px; 
    height: 60px;
    margin: auto;  
        
}

.tool-icon_food{
    background-image: url("../assets/icons/icon-pet-food.svg");
    width: 60px; 
    height: 60px; 
    
    
}

.tool-icon_transportation{
    background-image: url("../assets/icons/icon-transportation.svg");
    width: 60px; 
    height: 60px; 
}

.tool-icon_toys{
    background-image: url("../assets/icons/icon-toys.svg");
    width: 60px; 
    height: 60px; 
}

.tool-icon_bowls{
    background-image: url("../assets/icons/icon-bowls-and-cups.svg");
    width: 60px; 
    height: 60px; 
}

.tool-icon_shampoos{
    background-image: url("../assets/icons/icon-shampoos.svg");
    width: 60px; 
    height: 60px; 
}

.tool-icon_vitamins{
    background-image: url("../assets/icons/icon-vitamins.svg");
    width: 60px; 
    height: 60px; 
}

.tool-icon_medicines{
    background-image: url("../assets/icons/icon-medicines.svg");
    width: 60px; 
    height: 60px; 
}

.tool-icon_collars{
    background-image: url("../assets/icons/icon-collars-leashes.svg");
    width: 60px; 
    height: 60px; 
}

.tool-icon_sleeping{
    background-image: url("../assets/icons/icon-sleeping-area.svg");
    width: 60px; 
    height: 60px; 
}


.ico_email{
    background-image: url("../assets/icons/icon-email.svg");
    width: 40px; 
    height: 32px;
 
}

.ico_tel{
    background-image: url("../assets/icons/icon-phone.svg");
    width: 40px; 
    height: 32px;   
} 

.ico_local{
    background-image: url("../assets/icons/icon-marker.svg");
    width: 22px; 
    height: 32px;     
}