.tools__wrapper{
    padding: 6.4% 0 3.55% 0;
  
}

.card__icon{
  
  width: auto;
    padding:0 0 4.1% 9.2% ; 

  }
  .tools__container{
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
  margin-left: -9.92%;
  }

